.description,
.heading7 {
  align-self: stretch;
  position: relative;
}
.heading7 {
  margin: 0;
  font-size: inherit;
  line-height: 120%;
  font-weight: 400;
  font-family: inherit;
}
.description {
  font-size: var(--font-size-3xl);
  line-height: 31px;
  font-family: var(--font-open-sans);
}
.copy {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-xs);
  max-width: 800px;
  font-size: var(--font-size-37xl);
  font-family: var(--font-domine);
}
.icon-icon {
  height: 32px;
  width: 32px;
  position: relative;
}
.feature-description,
.feature-title {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.feature-description {
  font-size: var(--font-size-sm);
  line-height: 160%;
  color: var(--color-darkseagreen-300);
  display: -webkit-inline-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.feature-copy,
.feature01 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.feature-copy {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xs);
  min-width: 211px;
  max-width: 100%;
}
.feature01 {
  width: 100%;
  flex-direction: row;
  gap: var(--gap-base);
  min-width: 272px;
  max-width: 400px;
}
.icon-icon1 {
  height: 32px;
  width: 32px;
  position: relative;
}
.feature-description1,
.feature-title1 {
  align-self: stretch;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
}
.feature-title1 {
  line-height: 150%;
  white-space: nowrap;
}
.feature-description1 {
  font-size: var(--font-size-sm);
  line-height: 160%;
  color: var(--color-darkseagreen-300);
  display: -webkit-inline-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.feature-copy1,
.feature011 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.feature-copy1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xs);
  min-width: 211px;
  max-width: 100%;
}
.feature011 {
  width: 100%;
  flex-direction: row;
  gap: var(--gap-base);
  min-width: 272px;
  max-width: 400px;
}
.icon-icon2 {
  height: 32px;
  width: 32px;
  position: relative;
}
.feature-description2,
.feature-title2 {
  align-self: stretch;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
}
.feature-title2 {
  line-height: 150%;
  white-space: nowrap;
}
.feature-description2 {
  font-size: var(--font-size-sm);
  line-height: 160%;
  color: var(--color-darkseagreen-300);
  display: -webkit-inline-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.feature-copy2 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  min-width: 211px;
  max-width: 100%;
}
.column-left,
.feature-copy2,
.feature012 {
  display: flex;
  align-items: flex-start;
}
.feature012 {
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-base);
  min-width: 272px;
  max-width: 400px;
}
.column-left {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: 0 var(--padding-29xl);
  box-sizing: border-box;
  gap: var(--gap-21xl);
  min-width: 230px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-200);
  font-family: var(--font-open-sans);
}
@media screen and (max-width: 1050px) {
  .copy {
    max-width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .column-left {
    flex: unset;
    align-self: stretch;
  }
}
@media screen and (max-width: 750px) {
  .heading7 {
    font-size: var(--font-size-26xl);
    line-height: 54px;
  }
  .column-left {
    gap: var(--gap-xl);
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading7 {
    font-size: var(--font-size-15xl);
    line-height: 40px;
  }
  .description {
    font-size: var(--font-size-lg);
    line-height: 25px;
  }
  .feature01,
  .feature011,
  .feature012 {
    flex-wrap: wrap;
    max-width: 100%;
  }
  .column-left {
    flex: unset;
    align-self: stretch;
  }
}
