.heading5,
.subheading2 {
  align-self: stretch;
  position: relative;
}
.heading5 {
  margin: 0;
  font-size: inherit;
  line-height: 120%;
  font-weight: 400;
  font-family: inherit;
}
.subheading2 {
  font-size: var(--font-size-lg);
  line-height: 150%;
  font-family: var(--font-open-sans);
  color: var(--color-darkseagreen-300);
}
.heading-container,
.row1 {
  display: flex;
  align-items: flex-start;
}
.heading-container {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 800px;
}
.row1 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px 38px;
  max-width: 100%;
}
.cards-grid,
.content2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.cards-grid {
  align-self: stretch;
  align-items: center;
  max-width: 100%;
  font-size: var(--font-size-lg);
  font-family: var(--font-open-sans);
}
.content2 {
  width: 100%;
  align-items: flex-start;
  max-width: 1201px;
}
.variant1-xl-2-small-project {
  align-self: stretch;
  background-color: var(--color-honeydew-200);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-101xl) var(--padding-21xl) var(--padding-101xl)
    var(--padding-20xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-37xl);
  color: var(--color-darkslategray-200);
  font-family: var(--font-domine);
}
@media screen and (max-width: 1225px) {
  .content2 {
    max-width: 100%;
  }
  .variant1-xl-2-small-project {
    padding-top: var(--padding-59xl);
    padding-bottom: var(--padding-59xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .heading-container,
  .row1 {
    max-width: 100%;
  }
  .variant1-xl-2-small-project {
    padding-top: var(--padding-32xl);
    padding-bottom: var(--padding-32xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .heading5 {
    font-size: var(--font-size-26xl);
    line-height: 54px;
  }
  .row1 {
    gap: var(--gap-lgi);
  }
  .cards-grid,
  .content2,
  .variant1-xl-2-small-project {
    gap: var(--gap-xl);
  }
}
@media screen and (max-width: 450px) {
  .heading5 {
    font-size: var(--font-size-15xl);
    line-height: 40px;
  }
  .variant1-xl-2-small-project {
    padding-top: var(--padding-14xl);
    padding-bottom: var(--padding-14xl);
    box-sizing: border-box;
  }
}
