.heading6 {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
}
.heading-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-45xl) 0 var(--padding-44xl);
  box-sizing: border-box;
  max-width: 100%;
}
.company-logo-icon {
  margin-left: -325px;
  align-self: stretch;
  width: 140px;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 48px;
}
.company-logo-icon1,
.company-logo-icon2,
.company-logo-icon3,
.company-logo-icon4 {
  align-self: stretch;
  width: 121px;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 48px;
}
.company-logo-icon2,
.company-logo-icon3,
.company-logo-icon4 {
  width: 163px;
}
.company-logo-icon3,
.company-logo-icon4 {
  width: 168px;
}
.company-logo-icon4 {
  width: 135px;
}
.company-logo-icon5,
.company-logo-icon6,
.company-logo-icon7,
.company-logo-icon8,
.company-logo-icon9 {
  align-self: stretch;
  width: 132px;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 48px;
}
.company-logo-icon6,
.company-logo-icon7,
.company-logo-icon8,
.company-logo-icon9 {
  width: 168px;
}
.company-logo-icon7,
.company-logo-icon8,
.company-logo-icon9 {
  width: 145px;
}
.company-logo-icon8,
.company-logo-icon9 {
  width: 129px;
}
.company-logo-icon9 {
  width: 135px;
}
.partners,
.property-1small-heading-log {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-84xl);
  gap: var(--gap-13xl);
}
.property-1small-heading-log {
  background-color: var(--color-honeydew-200);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-61xl) 0;
  box-sizing: border-box;
  gap: var(--gap-29xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-200);
  font-family: var(--font-open-sans);
}
@media screen and (max-width: 1225px) {
  .partners {
    flex-wrap: wrap;
    justify-content: center;
    padding-left: var(--padding-32xl);
    padding-right: var(--padding-32xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .heading-wrapper,
  .partners {
    padding-left: var(--padding-12xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
  .partners {
    gap: var(--gap-base);
    padding-left: var(--padding-6xl);
    padding-right: var(--padding-6xl);
  }
  .property-1small-heading-log {
    gap: var(--gap-5xl);
  }
}
