@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-open-sans: "Open Sans";
  --font-domine: Domine;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-lg: 18px;
  --font-size-3xl: 22px;
  --font-size-37xl: 56px;
  --font-size-26xl: 45px;
  --font-size-15xl: 34px;
  --font-size-base: 16px;
  --font-size-65xl: 84px;
  --font-size-23xl: 42px;
  --font-size-6xl: 25px;
  --font-size-53xl: 72px;
  --font-size-39xl: 58px;
  --font-size-24xl: 43px;
  --font-size-89xl: 108px;
  --font-size-35xl: 54px;
  --font-size-13xl: 32px;
  --font-size-xs: 12px;

  /* Colors */
  --color-white: #fff;
  --color-darkslategray-100: #45573f;
  --color-darkslategray-200: #40513b;
  --color-honeydew-100: #ebf1e2;
  --color-honeydew-200: #e1ebdc;
  --color-darkseagreen-100: #b9d8a9;
  --color-darkseagreen-200: #7aac7f;
  --color-darkseagreen-300: #6c9070;
  --color-slateblue: #815cce;

  /* Gaps */
  --gap-15xs: -2px;
  --gap-21xl: 40px;
  --gap-lgi: 19px;
  --gap-base: 16px;
  --gap-5xl: 24px;
  --gap-6xs: 7px;
  --gap-xl: 20px;
  --gap-5xs: 8px;
  --gap-xs: 12px;
  --gap-9xs: 4px;
  --gap-29xl: 48px;
  --gap-13xl: 32px;
  --gap-0: 0px;
  --gap-122xl: 141px;
  --gap-51xl: 70px;
  --gap-16xl: 35px;

  /* Paddings */
  --padding-45xl: 64px;
  --padding-21xl: 40px;
  --padding-20xl: 39px;
  --padding-9xs: 4px;
  --padding-xl: 20px;
  --padding-101xl: 120px;
  --padding-59xl: 78px;
  --padding-32xl: 51px;
  --padding-29xl: 48px;
  --padding-5xl: 24px;
  --padding-12xl: 31px;
  --padding-xs-5: 11.5px;
  --padding-10xs: 3px;
  --padding-base: 16px;
  --padding-lg: 18px;
  --padding-xs: 12px;
  --padding-3xs: 10px;
  --padding-mid: 17px;
  --padding-smi: 13px;
  --padding-61xl: 80px;
  --padding-84xl: 103px;
  --padding-6xl: 25px;
  --padding-44xl: 63px;
  --padding-13xl: 32px;
  --padding-14xl: 33px;
  --padding-2xl: 21px;
  --padding-8xs: 5px;
  --padding-11xs: 2px;
  --padding-3xl: 22px;
  --padding-133xl: 152px;
  --padding-80xl: 99px;
  --padding-2xs: 11px;
  --padding-149xl: 168px;
  --padding-90xl: 109px;
  --padding-52xl: 71px;
  --padding-5xs: 8px;
  --padding-6xs: 7px;

  /* Border radiuses */
  --br-29xl: 48px;
  --br-5xs: 8px;
  --br-980xl: 999px;
  --br-13xl: 32px;
  --br-281xl: 300px;
}
